{% load staticfiles %}
<html>
    <head>
        <title>BITS ACM blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">WELCOME TO BITS ACM's Blog</a></h1>
			{% if user in users %}
				<h5>logged in as:{{ user.username }}</h5>
				<img src="{{avatar.profile_image.url}}" alt="Smiley face" height="42" width="42">

				<h5><a href="{% url 'logout_user' %}">logout</a></h5>
				<a href="{% url 'post_new' %}" class="top-menu"><h3>Add new post</h3><span class="glyphicon glyphicon-plus"></span></a>
			{% else %}
				<h5><a href="{% url 'login_user' %}">Login</a><a href="{% url 'register' %}">Register</a></h5>
			{% endif %}
			
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>